@page "/"
@using MudBlazor
 

<PageTitle>Home</PageTitle>

<h1>You need to review the instructions on setting up this page</h1>
<br />
<MudBlazor.MudButton Variant="Variant.Filled" Color="Color.Primary">MudBlazor install</MudBlazor.MudButton>

